button {
	background: alpha(@base-text, 0.05);
	padding: 6px 16px;
	border-radius: 6px;
}

button:hover {
	background: alpha(@base-text, 0.1);
}

button:active {
	background: @accent-background;
	color: @accent-text;
}
