headerbar {
	background: @base-background;
}

headerbar .toolbar {
	padding: 6px;
}

headerbar.default-decoration windowcontrols {
	margin: 1px;
}

headerbar.default-decoration windowcontrols button {
	min-width: 26px;
	min-height: 26px;
}
