scrollbar slider {
	background: alpha(@base-text, 0.15);
	min-width: 6px;
	min-height: 6px;
	margin: 4px;
	border-radius: 9999px;
	transition: background 0.15s, min-width 0.1s, min-height 0.1s;
}

scrollbar slider:hover {
	background: alpha(@base-text, 0.25);
}

scrollbar slider:active {
	background: @accent-background;
}

scrollbar .fine-tune slider {
	background: alpha(@accent-background, 0.5);
}

scrollbar:hover slider {
	min-width: 8px;
	min-height: 8px;
}
