windowcontrols {
	margin: 5px;
}

windowcontrols button {
	background: none;
	min-width: 28px;
	min-height: 28px;
	margin: 3px;
	padding: 0;
	border-radius: 100%;
}

windowcontrols button:hover {
	background: alpha(@base-text, 0.075);
}

windowcontrols button:active {
	background: @accent-background;
}

windowcontrols button.close:active {
	background: @destructive-background;
	color: @destructive-text;
}
