window {
	background: shade(@base-background, 0.75);
	color: alpha(@base-text, 0.7);
	transition: background 0.15s, box-shadow 0.25s;
}

window:backdrop {
	color: alpha(@base-text, 0.5);
}

window:not(.maximized):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-right):not(.tiled-bottom):not(.tiled-left) {
	box-shadow: 0 8px 24px alpha(#000000, 0.4);
	border-radius: 8px;
}

window:not(.maximized):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-right):not(.tiled-bottom):not(.tiled-left):backdrop {
	box-shadow: 0 4px 12px alpha(#000000, 0.3);
}
