.toolbar {
	padding: 5px;
}

.toolbar button {
	background: none;
	min-height: 32px;
	padding: 0;
}

.toolbar button.text-button {
	padding: 0 12px;
}

.toolbar button.image-button {
	min-width: 32px;
}

.toolbar button:hover {
	background: alpha(@base-text, 0.075);
}

.toolbar button:active {
	background: @accent-background;
}
